.banner {
  height: 100vh;
  background-color: #2D2F2F;
  width: 100vw;
}

.banner__content {
  display: flex;
  justify-content: space-between;
  margin: 50px;
  align-items: center;
  align-self: center;
}

/* .banner__img {
  margin-right: 50px;
} */

.banner__content > h2 {
  color: white;
  font-size: 80px;
}


.banner__content > h3 {
  color: white;
  font-size: 30px;
}



.banner__btn {
  text-decoration: none;
  margin-left: 30px;
  margin-right: 20px;
  padding: 5px 10px;
  border: 2px solid #D6993C;
  background-color: #D6993C;
  border-radius: 25px;
  width: fit-content;
  font-size: 15px;
}

.banner__btn:hover {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid white;
}

.banner__btn > h2 {
  color: white;
  font-weight: 600;
  font-size: 20px;
}

.banner__btn > h2:hover {
  color: #D6993C;
}
