.login {
  height: 100vh;
  background-color: #2D2F2F;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__container {
  background-color: white;
  height: 50vh;
  width: 30vw;
  border-radius: 20px;
}

.login__content {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.login__content > h2 {
  align-self: center;
  margin-bottom: 30px;
}

.login__content > input {
  margin-bottom: 20px;
  height: 30px;
}

.login__btn {
  height: 40px;
  width: 120px;
  align-self: center;
  background-color: #d6993c;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  transition: all 0.2s;
}

.login__btn:hover {
  cursor: pointer;
  transform: scale(1.03);
}
